<aside id="sidebar" class="d-none d-lg-flex flex-column bg-body-secondary p-3">
  <!-- Header -->
  <div class="mb-4 d-none d-md-block">
    <%- include('./header.ejs') %>
  </div>

  <!-- Navigation -->
  <div class="flex-grow-1 overflow-auto">
    <%- include('./navigation.ejs') %>
  </div>

  <!-- Footer -->
  <div class="mt-4 small text-center">
    <%- include('./footer.ejs') %>
  </div>
</aside>
