<% if (errorMessage && errorMessage.length > 0) { %>
    <% errorMessage.forEach(function(message, index) { %>
        <div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="errorToast<%= index %>" class="toast align-items-center text-bg-danger border-0" role="alert"
                 aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        <%= message %>
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>
    <% }); %>
    <script>
        window.addEventListener('load', function () {
            var toastElements = document.querySelectorAll('.toast');
            toastElements.forEach(function (toastElement) {
                var toast = new bootstrap.Toast(toastElement);
                toast.show();
            });
        });
    </script>
<% } %>
