<!-- views/partials/footer.ejs -->
<div class="text-center pb-2">
  <div class="d-flex justify-content-center align-items-center gap-3 mt-2">
    <small
      data-bs-toggle="tooltip"
      title="<%= lastfetched ? slimDateTime(lastfetched.lastFetchedAt,true) : 'Never' %>">
      v<%= package %>
    </small>

    <div class="form-check form-switch m-0">
      <input class="form-check-input" type="checkbox" id="darkModeToggle">
      <label class="form-check-label small ms-1" for="darkModeToggle">Dark/Light</label>
    </div>
  </div>

  <div>
    <img src="/resources/images/HCS-Logo-v4-Icon32.png" alt="Logo" width="32" height="32">
    <a href="https://www.heroncs.co.uk" class="hcs-green-text">Heron Constructive Solutions Ltd.</a>
    &copy; <%= copyrightyearstart %>–<%= copyrightyear %>
  </div>
  <div>
    VAT: <a class="hcs-green-text" href="https://beta.companieshouse.gov.uk/company/09276951">252295994</a> |
    Company: <a class="hcs-green-text" href="https://beta.companieshouse.gov.uk/company/09276951">09276951</a>
  </div>
</div>
