<!-- views/partials/header.ejs -->
<div class="mb-4">
  <button class="toggle-sidebar btn btn-outline-secondary btn-sm me-3" title="Toggle Sidebar">
    <i class="bi bi-layout-sidebar-inset"></i>
  </button>

  <a href="/" class="d-flex flex-column align-items-center justify-content-center mb-3 text-decoration-none">
    <img src="/resources/images/favicon.png" alt="Favicon" class="mb-1" width="32" height="32">
    <span class="hcs-green-text">Heron CS LTD</span>
  </a>

  <% if (isAuthenticated) { %>
    <div class="dropdown" style="position: relative;">
      <button class="btn btn-hcs-green btn-sm w-100 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i> My Account
      </button>
      <ul class="dropdown-menu dropdown-menu text-center"
        style="position: absolute; top: 100%; left: 0; right: 0; width: 100%; box-sizing: border-box;">
        <li>
          <a class="dropdown-item" href="/user/profile">
            <i class="bi bi-person me-2"></i>Profile
          </a>
        </li>
        <% if (isAdmin) { %>
          <li>
            <a class="dropdown-item text-warning" href="/logs">
              <i class="bi bi-terminal me-2"></i>Logs
            </a>
          </li>
          <% } %>
            <li>
              <a class="dropdown-item" href="/user/account">
                <i class="bi bi-gear-wide me-2"></i>Settings
              </a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="/user/logout">
                <i class="bi bi-box-arrow-right me-2"></i>Logout
              </a>
            </li>
      </ul>
    </div>

    <% } else { %>
      <div class="row g-2">
        <div class="col">
          <a class="btn btn-hcs-green w-100 btn-sm" href="/user/signin">
            <i class="bi bi-box-arrow-in-right"></i> Sign in
          </a>
        </div>
        <div class="col">
          <a class="btn btn-secondary w-100 btn-sm" href="/user/register">
            <i class="bi bi-book"></i> Register
          </a>
        </div>
      </div>
      <% } %>
</div>