<% if (session.user && session.user.role==='admin' ) {%>
    <% if (invoicesWithoutSubmissionDate && invoicesWithoutSubmissionDate.length> 0) { %>
        <div class="alert alert-warning d-print-none m-4" role="alert">
            <h4 class="alert-heading">Pending Invoices</h4>
            <p>There are invoices without a submission date:</p>
            <ul class="list-inline">
                <% invoicesWithoutSubmissionDate.forEach(invoice=> { %>
                    <li class="list-inline-item">
                        <a href="/invoice/read/<%= invoice.id %>">
                            <%= invoice.kashflowNumber %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <% } else { %>
            <div class="alert alert-success d-print-none m-4" role="alert">
                <h4 class="alert-heading">No Pending Invoices</h4>
                <p>There are no invoices without a submission date.</p>
            </div>
            <%} %>
                <%} %>