<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasSidebarLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="display-7">| New</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/subcontractor/select">
                    <i class="bi bi-receipt"></i>
                    Invoice
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subcontractor/create">
                    <i class="bi bi-people"></i>
                    Subcontractor
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quote/create">
                    <i class="bi bi-file-earmark-text"></i>
                    Quote
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/create">
                    <i class="bi bi-people"></i>
                    Client
                </a>
            </li>
            <li class="nav-item">
                <a href="/client/select" class="nav-link">
                    <i class="bi bi-telephone me-2"></i>Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="/location/create" class="nav-link">
                    <i class="bi bi-telephone me-2"></i>Location
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/create">
                    <i class="bi bi-person"></i>
                    User
                </a>
            </li>
        </ul>
        <div class="display-7">| Dashboards</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/dashboard/stats" class="nav-link hcs-green-text">
                    <i class="bi bi-binoculars me-2"></i>Overview
                </a>
            </li>
        </ul>
        <div class="display-7">| Construction Industry Scheme</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/dashboard/invoice" class="nav-link hcs-green-text">
                    <i class="bi bi-receipt me-2"></i>Invoices
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/subcontractor" class="nav-link hcs-green-text">
                    <i class="bi bi-people me-2"></i>Subcontractors
                </a>
            </li>
            <li class="nav-item">
                <a href="/monthly/returns/form" class="nav-link hcs-green-text">
                    <i class="bi bi-file-spreadsheet-fill"></i> Monthly Returns
                </a>
            </li>
        </ul>
        <div class="display-7">| Contract Management</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/dashboard/quote" class="nav-link hcs-green-text">
                    <i class="bi bi-file-earmark-text me-2"></i>Quotes
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/job" class="nav-link hcs-green-text">
                    <i class="bi bi-briefcase me-2"></i>Jobs
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/client" class="nav-link hcs-green-text">
                    <i class="bi bi-people me-2"></i>Clients
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/contact" class="nav-link hcs-green-text">
                    <i class="bi bi-telephone me-2"></i>Contacts
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/location" class="nav-link hcs-green-text">
                    <i class="bi bi-telephone me-2"></i>Locations
                </a>
            </li>
        </ul>
        <div class="display-7">| Payroll</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/dashboard/user" class="nav-link hcs-green-text">
                    <i class="bi bi-person-raised-hand"></i>Attendance
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/user" class="nav-link hcs-green-text">
                    <i class="bi bi-person-standing"></i>Employees
                </a>
            </li>
        </ul>
        <div class="display-7">| Administration</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/dashboard/user" class="nav-link hcs-green-text">
                    <i class="bi bi-person me-2"></i>Users
                </a>
            </li>
        </ul>
        <div class="display-7">| My Account</div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link hcs-green-text" href="/account">
                    <i class="bi bi-gear-wide"></i>
                    Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link hcs-red-text" href="/logout">
                    <i class="bi bi-box-arrow-right"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>
<button class="btn btn-outline me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar"
    aria-controls="offcanvasSidebar">
    <i class="bi bi-list"></i>
</button>