{
  "openapi": "3.0.0",
  "info": {
    "title": "SMS API",
    "version": "4.5.6",
    "description": ""
  },
  "servers": [
    {
      "url": "http://app.heroncs.co.uk",
      "description": "Production Server"
    }
  ],
  "components": {
    "schemas": {
      "Attendance": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "date": { "type": "string", "format": "date" },
          "type": { 
            "type": "string", 
            "enum": ["off", "holiday", "sick", "work"] 
          },
          "locationId": { "type": "string", "format": "uuid", "nullable": true },
          "employeeId": { "type": "string", "format": "uuid", "nullable": true },
          "subcontractorId": { "type": "string", "format": "uuid", "nullable": true },
          "hoursWorked": { "type": "number", "format": "decimal", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "KF_Customers": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "CustomerID": {
            "type": "integer"
          },
          "Code": {
            "type": "string",
            "maxLength": 10
          },
          "Name": {
            "type": "string",
            "maxLength": 255
          },
          "Contact": {
            "type": "string",
            "maxLength": 255
          },
          "Telephone": {
            "type": "string",
            "maxLength": 50
          },
          "Mobile": {
            "type": "string",
            "maxLength": 50
          },
          "Fax": {
            "type": "string",
            "maxLength": 50
          },
          "Email": {
            "type": "string",
            "maxLength": 255
          },
          "Address1": {
            "type": "string"
          },
          "Address2": {
            "type": "string"
          },
          "Address3": {
            "type": "string"
          },
          "Address4": {
            "type": "string"
          },
          "Postcode": {
            "type": "string",
            "maxLength": 50
          },
          "CountryName": {
            "type": "string",
            "maxLength": 100
          },
          "CountryCode": {
            "type": "string",
            "maxLength": 10
          },
          "Website": {
            "type": "string",
            "maxLength": 255
          },
          "Notes": {
            "type": "string"
          },
          "Discount": {
            "type": "number",
            "format": "decimal",
            "maximum": 10,
            "minimum": 2
          },
          "EC": {
            "type": "integer",
            "default": 0
          },
          "OutsideEC": {
            "type": "integer",
            "default": 0
          },
          "Source": {
            "type": "integer"
          },
          "ShowDiscount": {
            "type": "boolean",
            "default": false
          },
          "PaymentTerms": {
            "type": "integer"
          },
          "CurrencyID": {
            "type": "integer"
          },
          "ContactTitle": {
            "type": "string"
          },
          "ContactFirstName": {
            "type": "string",
            "maxLength": 100
          },
          "ContactLastName": {
            "type": "string",
            "maxLength": 100
          },
          "CustHasDeliveryAddress": {
            "type": "boolean",
            "default": false
          },
          "DeliveryAddress1": {
            "type": "string"
          },
          "DeliveryAddress2": {
            "type": "string"
          },
          "DeliveryAddress3": {
            "type": "string"
          },
          "DeliveryAddress4": {
            "type": "string"
          },
          "DeliveryCountryName": {
            "type": "string",
            "maxLength": 100
          },
          "DeliveryCountryCode": {
            "type": "string",
            "maxLength": 6
          },
          "DeliveryPostcode": {
            "type": "string",
            "maxLength": 8
          },
          "VATNumber": {
            "type": "string",
            "maxLength": 100
          },
          "Created": {
            "type": "string",
            "format": "date-time"
          },
          "Updated": {
            "type": "string",
            "format": "date-time"
          },
          "ExtraText1": {
            "type": "string"
          },
          "ExtraText2": {
            "type": "string"
          },
          "ExtraText3": {
            "type": "string"
          },
          "ExtraText4": {
            "type": "string"
          },
          "ExtraText5": {
            "type": "string"
          },
          "ExtraText6": {
            "type": "string"
          },
          "ExtraText7": {
            "type": "string"
          },
          "ExtraText8": {
            "type": "string"
          },
          "ExtraText9": {
            "type": "string"
          },
          "ExtraText10": {
            "type": "string"
          },
          "ExtraText11": {
            "type": "string"
          },
          "ExtraText12": {
            "type": "string"
          },
          "ExtraText13": {
            "type": "string"
          },
          "ExtraText14": {
            "type": "string"
          },
          "ExtraText15": {
            "type": "string"
          },
          "ExtraText16": {
            "type": "string"
          },
          "ExtraText17": {
            "type": "string"
          },
          "ExtraText18": {
            "type": "string"
          },
          "ExtraText19": {
            "type": "string"
          },
          "ExtraText20": {
            "type": "string"
          },
          "CheckBox1": {
            "type": "integer",
            "default": 0
          },
          "CheckBox2": {
            "type": "integer",
            "default": 0
          },
          "CheckBox3": {
            "type": "integer",
            "default": 0
          },
          "CheckBox4": {
            "type": "integer",
            "default": 0
          },
          "CheckBox5": {
            "type": "integer",
            "default": 0
          },
          "CheckBox6": {
            "type": "integer",
            "default": 0
          },
          "CheckBox7": {
            "type": "integer",
            "default": 0
          },
          "CheckBox8": {
            "type": "integer",
            "default": 0
          },
          "CheckBox9": {
            "type": "integer",
            "default": 0
          },
          "CheckBox10": {
            "type": "integer",
            "default": 0
          },
          "CheckBox11": {
            "type": "integer",
            "default": 0
          },
          "CheckBox12": {
            "type": "integer",
            "default": 0
          },
          "CheckBox13": {
            "type": "integer",
            "default": 0
          },
          "CheckBox14": {
            "type": "integer",
            "default": 0
          },
          "CheckBox15": {
            "type": "integer",
            "default": 0
          },
          "CheckBox16": {
            "type": "integer",
            "default": 0
          },
          "CheckBox17": {
            "type": "integer",
            "default": 0
          },
          "CheckBox18": {
            "type": "integer",
            "default": 0
          },
          "CheckBox19": {
            "type": "integer",
            "default": 0
          },
          "CheckBox20": {
            "type": "integer",
            "default": 0
          }
        },
        "required": ["uuid", "CustomerID"]
      },
      "KF_Invoices": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "InvoiceDBID": {
            "type": "integer"
          },
          "InvoiceNumber": {
            "type": "integer"
          },
          "InvoiceDate": {
            "type": "string",
            "format": "date-time"
          },
          "DueDate": {
            "type": "string",
            "format": "date-time"
          },
          "Customer": {
            "type": "string"
          },
          "CustomerID": {
            "type": "integer"
          },
          "Paid": {
            "type": "number",
            "format": "decimal"
          },
          "CustomerReference": {
            "type": "string"
          },
          "EstimateCategory": {
            "type": "string"
          },
          "SuppressTotal": {
            "type": "boolean",
            "default": false
          },
          "ProjectID": {
            "type": "integer"
          },
          "CurrencyCode": {
            "type": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "format": "decimal"
          },
          "NetAmount": {
            "type": "number",
            "format": "decimal"
          },
          "VATAmount": {
            "type": "number",
            "format": "decimal"
          },
          "AmountPaid": {
            "type": "number",
            "format": "decimal"
          },
          "CustomerName": {
            "type": "string"
          },
          "PermaLink": {
            "type": "string"
          },
          "DeliveryAddress": {
            "type": "object",
            "additionalProperties": true
          },
          "UseCustomDeliveryAddress": {
            "type": "boolean",
            "default": false
          },
          "CISRCNetAmount": {
            "type": "number",
            "format": "decimal"
          },
          "CISRCVatAmount": {
            "type": "number",
            "format": "decimal"
          },
          "IsCISReverseCharge": {
            "type": "boolean",
            "default": false
          },
          "Lines": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "ReadableString": {
            "type": "string"
          }
        },
        "required": ["uuid", "InvoiceDBID"]
      },
      "KF_Projects": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "ProjectID": {
            "type": "integer"
          },
          "Number": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "CustomerID": {
            "type": "integer"
          },
          "Status": {
            "type": "integer"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "Created": {
            "type": "string",
            "format": "date-time"
          },
          "Updated": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["uuid", "ProjectID"]
      }
    }
  }
}
