<h1>Create Subcontractor</h1>

<form action="/subcontractor/create" method="POST">
    <table class="table">
        <tbody>
            <tr>
                <td><label for="name" class="form-label">Name</label></td>
                <td><input type="text" id="name" name="name" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="company" class="form-label">Company</label></td>
                <td><input type="text" id="company" name="company" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="line1" class="form-label">Line 1</label></td>
                <td><input type="text" id="line1" name="line1" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="line2" class="form-label">Line 2</label></td>
                <td><input type="text" id="line2" name="line2" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="city" class="form-label">City</label></td>
                <td><input type="text" id="city" name="city" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="county" class="form-label">County</label></td>
                <td><input type="text" id="county" name="county" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="postalCode" class="form-label">Postal Code</label></td>
                <td><input type="text" id="postalCode" name="postalCode" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="cisNumber" class="form-label">CIS Number</label></td>
                <td><input type="text" id="cisNumber" name="cisNumber" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="utrNumber" class="form-label">UTR Number</label></td>
                <td><input type="text" id="utrNumber" name="utrNumber" class="form-control" required></td>
            </tr>
            <tr>
                <td><label for="isGross" class="form-check-label">Is Gross</label></td>
                <td>
                    <div class="form-check">
                        <input type="checkbox" id="isGross" name="isGross" class="form-check-input">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Create Subcontractor</button>
    </div>
</form>