<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">Create Subcontractor</h1>
            <form action="/subcontractor/create/" method="POST">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label for="name" class="form-label">Name</label></td>
                            <td><input type="text" id="name" name="name" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="company" class="form-label">Company</label></td>
                            <td><input type="text" id="company" name="company" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="line1" class="form-label">Line 1</label></td>
                            <td><input type="text" id="line1" name="line1" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="line2" class="form-label">Line 2</label></td>
                            <td><input type="text" id="line2" name="line2" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="city" class="form-label">City</label></td>
                            <td><input type="text" id="city" name="city" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="county" class="form-label">County</label></td>
                            <td><input type="text" id="county" name="county" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="postalCode" class="form-label">Postal Code</label></td>
                            <td><input type="text" id="postalCode" name="postalCode" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="cisNumber" class="form-label">CIS Number</label></td>
                            <td><input type="text" id="cisNumber" name="cisNumber" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="utrNumber" class="form-label">UTR Number</label></td>
                            <td><input type="text" id="utrNumber" name="utrNumber" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="vatNumber" class="form-label">VAT Number</label></td>
                            <td><input type="text" id="vatNumber" name="vatNumber" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="deduction" class="form-check-label">Deduction</label></td>
                            <td>
                                <div class="form-group">
                                    <select id="deduction" name="deduction" class="form-control">
                                        <option value="0.3">30%</option>
                                        <option value="0.2" selected>20%</option>
                                        <option value="0">0%</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="isGross" class="form-check-label">isGross</label></td>
                            <td>
                                <div class="form-group">
                                    <select id="isGross" name="isGross" class="form-control">
                                        <option value="false" selected>False</option>
                                        <option value="true">True</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green"><i class="bi bi-person-plus"></i> Create Subcontractor</button>
                </div>
            </form>
        </div>
    </div>
</div>