<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">New Quote</h1>
        <div class="container-fluid text-center">
            <form action="/quote/create" method="POST" class="needs-validation">
                <div class="row mb-3">
                    <label for="date" class="col-sm-3 col-form-label">Date <i class="bi bi-calendar2-date-fill"></i></label>
                    <div class="col-sm-9">
                        <input type="date" id="date" name="date" class="form-control" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="quote_ref" class="col-sm-3 col-form-label">Quote Ref <i class="bi bi-file-earmark-text"></i></label>
                    <div class="col-sm-9">
                        <input type="text" id="quote_ref" name="quote_ref" class="form-control" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="job_ref" class="col-sm-3 col-form-label">Job Ref <i class="bi bi-briefcase"></i></label>
                    <div class="col-sm-9">
                        <input type="text" id="job_ref" name="job_ref" class="form-control" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="location" class="col-sm-3 col-form-label">Location <i class="bi bi-geo-alt"></i></label>
                    <div class="col-sm-9">
                        <input type="text" id="location" name="location" class="form-control" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="client" class="col-sm-3 col-form-label">Client <i class="bi bi-person"></i></label>
                    <div class="col-sm-9">
                        <input type="text" id="client" name="client" class="form-control" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="contact_ref" class="col-sm-3 col-form-label">Contact Ref <i class="bi bi-person-badge"></i></label>
                    <div class="col-sm-9">
                        <input type="text" id="contact_ref" name="contact_ref" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="value" class="col-sm-3 col-form-label">Value <i class="bi bi-currency-pound"></i></label>
                    <div class="col-sm-9">
                        <input type="number" step="0.01" id="value" name="value" class="form-control" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="desc" class="col-sm-3 col-form-label">Description <i class="bi bi-file-text"></i></label>
                    <div class="col-sm-9">
                        <textarea id="desc" name="desc" class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="invoice_no" class="col-sm-3 col-form-label">Invoice No <i class="bi bi-file-earmark"></i></label>
                    <div class="col-sm-9">
                        <input type="text" id="invoice_no" name="invoice_no" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="invoice_date" class="col-sm-3 col-form-label">Invoice Date <i class="bi bi-calendar2-date-fill"></i></label>
                    <div class="col-sm-9">
                        <input type="date" id="invoice_date" name="invoice_date" class="form-control">
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green">
                        <i class="bi bi-file-earmark-plus"></i> New Quote
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
