<div class="container text-center mt-5">
    <div class="alert border border-hcs-green rounded-3 p-5 shadow-lg">
        <h1 class="display-4 hcs-green-text mb-4">
            <% if (isAuthenticated) { %>
            <i class="bi bi-calendar-x"></i> You’re meant to be on Holiday! What are you doing here?
            <% } else { %>
            <i class="bi bi-calendar-x"></i> We’re on Holiday!
            <% } %>
        </h1>
        <p class="lead text-secondary">
            <% if (isAuthenticated) { %>
                Certain functionalities are temporarily unavailable during the holiday period. Please check back later or reach out if needed.
            <% } else { %>
                Our services are currently unavailable as we are observing a holiday.
            <% } %>
        </p>
        <hr class="my-4">
        <p class="fw-bold fs-5">
            <span class="fw-light">Reason:</span><br><%= reason %>
        </p>
        <p class="fw-bold fs-5">
            <span class="fw-light">Period:</span><br>from <span class="text-primary"><%= slimDateTime(startDate, true) %></span><br>to <span class="text-primary"><%= slimDateTime(endDate, true) %></span>
        </p>
        <p class="text-secondary">
            We’ll be back on <span class="text-success fw-bold"><%= slimDateTime(endDate) %></span>. Thank you for your patience!
        </p>
    </div>
</div>
