<!-- views/index.ejs: -->

<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 class="text-center">Subcontractor Management System</h1>
                <small>Developed by Heron Constructive Solutions LTD,</small>
                <hr>
                <p>SMS is a comprehensive web-based application designed
                    to streamline the
                    management of subcontractors in construction projects.</p>
                <p>It facilitates efficient data entry,
                    automates monthly returns for CIS & HMRC compliance, tracks payments, manages deductions, and
                    enables
                    subcontractor verification.</p>
                <p>SMS ensures accurate record-keeping, regulatory compliance, and
                    communication among project managers, enhancing overall subcontractor management
                    efficiency and transparency.</p>
                <% if (typeof session.user === 'undefined') { %>
                <div class="d-grid">
                    <a href="/register" class="btn btn-hcs-green" type="button"><i class="bi bi-book"></i>
                        Register</a>
                </div>
                <% } %>
                <hr>
                <% if (typeof session.user === 'undefined') { %>
                <form action="/login" method="POST">
                    <h2>Login</h2>
                    <div class="mb-3">
                        <label for="usernameOrEmail" class="form-label">Username or Email:</label>
                        <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-hcs-red"><i class="bi bi-box-arrow-in-right"></i>
                            Login</button>
                    </div>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>