<!-- views/layout.ejs: -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subcontractor Management System</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/favicon.png" alt="Favicon" class="mr-2">
        <span class="d-none d-md-inline">Subcontractor Management System</span>
      </a>
      <ul class="navbar-nav hstack gap-3">
        <% if (typeof session.user !== 'undefined' && session.user.role === 'admin') { %>
        <li class="nav-item">
          <a class="nav-link hcs-red-text" href="/admin"><i class="bi bi-speedometer"></i> Admin Dashboard</a>
        </li>
        <% } %>
        <% if (typeof session.user !== 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link hcs-green-text" href="/dashboard"><i class="bi bi-speedometer"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hcs-green-text" href="/monthly/returns/form"><i class="bi bi-file-spreadsheet-fill"></i>
            Monthly Returns</a>
        </li>
        <% } else { %>
        <% } %>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-second-navbar">
    <div class="container">
      <ul class="navbar-nav hstack gap-3">
        <% if (typeof session.user === 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><i class="bi bi-book"></i> Register</a>
        </li>
        <% } else { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hcs-green-text" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-plus-circle-dotted"></i> Create
          </a>
          <ul class="dropdown-menu dropdown-hcs-green">
            <li><a class="dropdown-item" href="/user/create"><i class="bi bi-person-plus"></i> New
                User <i class="bi bi-box-arrow-in-up" style="font-size: 0.65rem;"></i></a></li>
            <li><a class="dropdown-item" href="/subcontractor/create"><i class="bi bi-person-plus"></i>
                New
                Subcontractor <i class="bi bi-box-arrow-in-up" style="font-size: 0.65rem;"></i></a></li>
            <li><a class="dropdown-item" href="/subcontractor/select"><i class="bi bi-file-plus"></i> New
                Invoice <i class="bi bi-box-arrow-in-up" style="font-size: 0.65rem;"></i></a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">
            <i class="bi bi-person"></i> My Account
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link hcs-red-text" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <main class="container mt-4">
    <%- body %>
  </main>

  <nav
    class="navbar navbar-expand navbar-dark bg-dark text-white d-flex justify-content-center align-items-center mt-5 p-4">
    <div class="stack-on-small">
      <div>
        <a href="/"><img src="/favicon.png" alt="HCS Logo"></a>
        <a class="hcs-green-text" href="https://www.heroncs.co.uk">Heron Constructive Solutions Ltd.</a><br>
        Copyright &copy; <u>2023-2023</u> All Rights Reserved.
        <div>
          VAT No: <a class="hcs-green-text" href="https://beta.companieshouse.gov.uk/company/09276951">252295994</a>
          |
          Company No: <a class="hcs-green-text" href="https://beta.companieshouse.gov.uk/company/09276951">09276951</a>
        </div>
      </div>
    </div>
  </nav>

  <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
  <script src="/reload/reload.js"></script>
</body>

</html>