<!-- views/login.ejs: -->
<h1>Login</h1>

<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<form action="/login" method="POST">
    <div class="mb-3">
        <label for="usernameOrEmail" class="form-label">Username or Email:</label>
        <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-hcs-green"><i class="bi bi-box-arrow-in-right"></i> Login</button>
    </div>
</form>