<div class="container mt-4">
    <h1>Monthly Returns</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Subcontractor</th>
                <th>Total Returns</th>
            </tr>
        </thead>
        <tbody>
            <% monthlyReturns.forEach(returnData => { %>
            <tr>
                <td><%= returnData.month %></td>
                <td><%= returnData.year %></td>
                <td><%= returnData.subcontractorName %></td>
                <td><%= returnData.totalnetAmount %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>