<!-- views/onboarding.ejs: -->
<h1>Onboarding</h1>
<% if (typeof message !== 'undefined' && message.length > 0) { %>
<br>
<div class="alert alert-infor alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= message %>
</div>
<% } %>

<% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
<br>
<div class="alert alert-success alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= successMessage %>
</div>
<% } %>

<form action="/register" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" disabled value="">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" disabled value="">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" disabled value="">
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" name="role">
            <option></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="cisNumber" class="form-label">CIS Verification Number</label>
        <input type="text" class="form-control" id="cisNumber" name="cisNumber" required>
    </div>
    <div class="mb-3">
        <label for="utrNumber" class="form-label">UTR Number</label>
        <input type="text" class="form-control" id="utrNumber" name="utrNumber" required>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Register">
    </div>
</form>

<% if (typeof errorMessages !== 'undefined' && errorMessages.length > 0) { %>
<br>
<div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% errorMessages.forEach(errorMessage => { %>
    <div><%= errorMessage %></div>
    <% }) %>
</div>
<% } %>