<!-- views/onboarding.ejs: -->
<form action="/register" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" disabled>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" disabled>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" disabled>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" name="role">
            <option></option>
        </select>
    </div>
    <div class="mb-3">
        <label for="cisNumber" class="form-label">CIS Verification Number</label>
        <input type="text" class="form-control" id="cisNumber" name="cisNumber" required>
    </div>
    <div class="mb-3">
        <label for="utrNumber" class="form-label">UTR Number</label>
        <input type="text" class="form-control" id="utrNumber" name="utrNumber" required>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Register">
    </div>
</form>