<!-- views/register.ejs: -->
<h1>Register</h1>
<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>

<form action="/register" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role:</label>
        <select id="role" name="role" class="form-select">
            <option value="subcontractor">Subcontractor</option>
            <option disabled value="employee">Employee</option>
            <option disabled value="accountant">Accountant</option>
            <option disabled value="hmrc">HMRC</option>
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-hcs-green">Register</button>
    </div>
</form>