<!-- views/selectSubcontractor.ejs: -->
<%- include('../partials/successAlert.ejs') %>
<%- include('../partials/errorAlerts.ejs') %>
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Select Subcontractor</h1>
        <div class="container-fluid text-center">
            <div class="row">
                <% for (const subcontractor of subcontractors) { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <%= subcontractor.company %>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-hcs-green selectSubcontractorButton" href="/invoice/create/<%= subcontractor.id %>">New Invoice</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="text-center mt-4 d-grid">
                <a href="/subcontractor/create/" type="button" class="btn btn-outline-primary">Add New Subcontractor</a>
            </div>
        </div>
    </div>
</div>