<div class="container">
    <h1 class="mt-4">CSV Upload Form</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="csvFile" accept=".csv">
            <button type="submit" class="btn btn-primary">Upload <i class="bi bi-upload"></i></button>
        </div>
    </form>
</div>