
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Two-Factor Authentication</h1>
            <form action="/user/2fa" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" id="totpToken" name="totpToken" class="form-control" required>
                    <label for="totpToken" class="form-label">Enter your 2FA Code:</label>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-hcs-green btn-lg" type="submit"><i class="bi bi-check-circle"></i> Verify</button>
                    <a class="btn btn-tertiary btn-sm" type="button" href="/user/signin"><i class="bi bi-box-arrow-in-left"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
