<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">Create an account</h1>
            <form action="/user/register" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" id="username" name="username" class="form-control" required>
                    <label for="username" class="form-label">Username:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" id="email" name="email" class="form-control" required>
                    <label for="email" class="form-label">Email:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" id="password" name="password" class="form-control" required>
                    <label for="password" class="form-label">Password:</label>
                </div>
                <div class="mb-3">
                    <div class="cf-turnstile" data-sitekey="<%= siteKey %>"></div>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-hcs-green btn-lg" type="submit"><i class="bi bi-book"></i> Create an account</button>
                    <a class="btn btn-tertiary btn-sm" type="button" href="/user/signin"><i class="bi bi-box-arrow-in-right"></i> Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>