<div class="container my-5">
    <p><a href="/kashflow/project/read/<%= uuid %>">← Back to Project</a></p>

    <% if (fileType === 'image') { %>
        <h2>Image Preview</h2>
        <img src="<%= filePath %>" class="img-fluid">
    <% } else if (fileType === 'pdf') { %>
        <h2>PDF Preview</h2>
        <iframe src="<%= filePath %>" width="100%" height="1220" style="border: none;"></iframe>
    <% } else { %>
        <p>This file type cannot be previewed.</p>
    <% } %>
</div>
