<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Create Contact for <%= clients.name %></h1>
        <div class="container-fluid text-center">
            <form action="/contact/create/<%= clients.id %>" method="POST" class="needs-validation">
                <!-- Hidden input to pass the client ID -->
                <input type="hidden" id="clientId" name="clientId" value="<%= clients.id %>">
                
                <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="text" id="phone" name="phone" class="form-control">
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-hcs-green">Create Contact</button>
                </div>
            </form>
        </div>
    </div>
</div>
