
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5">Select Contact</h1>
        <div class="container-fluid text-center">
            <div class="row">
                <% for (const contact of contacts) { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <%= contact.name %> (<%= contact.clientName %>)
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-hcs-green selectContactButton" href="/quote/create/<%= contact.clientId %>/<%= contact.id %>">New Quote</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="text-center mt-4 d-grid">
                <a href="/client/create/" type="button" class="btn btn-outline-primary">Add New Client</a>
            </div>
        </div>
    </div>
</div>
